.container {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(64, minmax(0, 1fr));
    gap: 0;
    margin: auto;
    border: 1px solid black;
}

.box {
    background-color: lightgray;
    border: 1px solid black;
}